<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daniel.cart.mapper.BlockMapper">
    <resultMap id="blockMap" type="com.daniel.cart.domain.Block">
        <id column="block_id" property="id"/>
        <result column="grid_id" property="gridId"/>
        <result column="drug_id" property="drugId"/>
        <result column="drug_inf_id" property="drugInfId"/>
        <result column="drug_name" property="drugName"/>
        <result column="serial" property="serial"/>
        <result column="drug_shelf_life" property="shelfLife"/>
        <result column="drug_product_date" property="productDate"/>
    </resultMap>
    
    <select id="findAll" resultMap="blockMap">
        select bi.block_id, bi.grid_id, bi.drug_id, ddi.drug_inf_id, di.drug_name, bi.serial, ddi.drug_product_date, di.drug_shelf_life
        from drug_cart_db.block_inf bi
        left join drug_cart_db.drug_date_inf ddi
            on bi.drug_id = ddi.drug_id
        left join drug_cart_db.drug_inf di
            on ddi.drug_inf_id = di.drug_inf_id
    </select>
    
    <select id="findAllByLimit" resultMap="blockMap" parameterType="blockVo">
        select bi.block_id, bi.grid_id, bi.drug_id, ddi.drug_inf_id, di.drug_name, bi.serial, ddi.drug_product_date, di.drug_shelf_life
        from drug_cart_db.block_inf bi
        left join drug_cart_db.drug_date_inf ddi
            on bi.`drug_id` = ddi.`drug_id`
        left join drug_cart_db.drug_inf di
            on ddi.`drug_inf_id` = di.`drug_inf_id`
        left join drug_cart_db.grid_inf gi
            on gi.`grid_id` = bi.`grid_id`
        left join drug_cart_db.carts_inf ci
        on gi.cart_id = ci.cart_id
        where 1 = 1
        <if test="drugId!=null">
            and bi.drug_id = #{drugId}
        </if>
        <if test="gridId!=null">
            and bi.grid_id = #{gridId}
        </if>
        <if test="cartId!=null">
            and gi.cart_id = #{cartId}
            <if test="layer!=null">
                and gi.cart_layer = #{layer}
            </if>
        </if>
        <if test="departmentId!=null">
            and ci.department_id = #{departmentId}
        </if>
        <if test="start!=null and pageSize!=null">
            limit #{start - 1},#{pageSize}
        </if>
    </select>
    
    <select id="findByCart" resultMap="blockMap" parameterType="long">
        select bi.block_id, bi.grid_id, bi.drug_id, ddi.drug_inf_id, di.drug_name, bi.serial, ddi.drug_product_date, di.drug_shelf_life
        from drug_cart_db.block_inf bi
        inner join drug_cart_db.grid_inf gi
            on gi.grid_id = bi.grid_id
        inner join drug_cart_db.carts_inf ci on gi.cart_id = ci.cart_id
        left join drug_cart_db.drug_inf di on di.drug_inf_id = gi.drug_inf_id
        left join drug_cart_db.drug_date_inf ddi on di.drug_inf_id = ddi.drug_inf_id
        where ci.cart_id = #{cartId}
    </select>
    
    <select id="findById" resultMap="blockMap" parameterType="java.lang.Long">
        select bi.block_id, bi.grid_id, bi.drug_id, ddi.drug_inf_id, di.drug_name, bi.serial
        from drug_cart_db.block_inf bi
                 left join drug_cart_db.drug_date_inf ddi
                           on bi.drug_id = ddi.drug_id
                 left join drug_cart_db.drug_inf di
                           on ddi.drug_inf_id = di.drug_inf_id
        where block_id = #{id}
    </select>

    <select id="findByPosit" resultMap="blockMap">
        select bi.block_id, bi.grid_id, bi.drug_id, ddi.drug_inf_id, di.drug_name, bi.serial
        from drug_cart_db.block_inf bi
                 left join drug_cart_db.drug_date_inf ddi
                           on bi.drug_id = ddi.drug_id
                 left join drug_cart_db.drug_inf di
                           on ddi.drug_inf_id = di.drug_inf_id
        where grid_id = #{gridId} and `serial` = #{serial}
    </select>

    <select id="findByPosit2" resultMap="blockMap">
        select bi.block_id, bi.grid_id, bi.drug_id, ddi.drug_inf_id, di.drug_name, bi.serial
        from drug_cart_db.block_inf bi
                left join drug_cart_db.grid_inf gi
                on bi.grid_id = gi.grid_id
                 left join drug_cart_db.drug_date_inf ddi
                           on bi.drug_id = ddi.drug_id
                 left join drug_cart_db.drug_inf di
                           on ddi.drug_inf_id = di.drug_inf_id
        where gi.cart_id = #{cartId} and gi.cart_layer = #{layer} and cart_row = #{row} and cart_column = #{column}
            and `serial` = #{serial}
    </select>

    <select id="getCountByLimit" resultType="java.lang.Long" parameterType="blockVo">
        select count(bi.block_id)
        from drug_cart_db.block_inf bi
        where 1 = 1
        <if test="drugId!=null">
            and bi.drug_id = #{drugId}
        </if>
        <if test="gridId!=null">
            and bi.grid_id = #{gridId}
        </if>
    </select>
    
    <select id="getCountByGridAndNotEmpty" resultType="java.lang.Long" parameterType="blockVo">
        select count(bi.block_id)
        from drug_cart_db.block_inf bi
        where bi.drug_id > 0
        <if test="gridId!=null">
            and bi.grid_id = #{gridId}
        </if>
    </select>

    <insert id="addBlock" parameterType="block">
        insert into drug_cart_db.block_inf (
            <if test="drugId!=null">drug_id, </if>
            grid_id, serial
        )
        values(
            <if test="drugId!=null">#{drugId}, </if>
            #{gridId}, #{serial}
        )
    </insert>
    
    <delete id="removeById" parameterType="java.lang.Long">
        delete from drug_cart_db.block_inf
        where block_id = #{id}
    </delete>
    
    <update id="modifyBlock" parameterType="block">
        update drug_cart_db.block_inf
        <set>
            <if test="drugId!=null">drug_id=#{drugId}</if>
        </set>
        where block_id = #{id}
    </update>
</mapper>