<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daniel.cart.mapper.CartMapper">
    <resultMap id="cartMap" type="com.daniel.cart.domain.Cart">
        <id column="cart_id" property="id"/>
        <result column="department_id" property="departmentId"/>
        <result column="add_time" property="addTime"/>
        <result column="status_type" property="state"/>
<!--        <result column="is_enable" property="isEnable"/>-->
        <result column="department_name" property="departmentName"/>
    </resultMap>

    <select id="findAll" resultMap="cartMap">
        select ci.cart_id, ci.department_id, ci.add_time, ci.status_type, di.department_name
        from carts_inf ci
        left join department_inf di on ci.department_id = di.department_id
        where ci.is_enable = 1;
    </select>

    <select id="findAllByLimit" resultMap="cartMap" parameterType="cartVo">
        select ci.cart_id, ci.department_id, ci.add_time, ci.status_type, di.department_name
        from carts_inf ci
        left join department_inf di on ci.department_id = di.department_id
        where ci.is_enable = 1
        <if test="departmentName!=null">
            and di.department_name like #{departmentName}
        </if>
        <if test="departmentId!=null">
            and ci.department_id = #{departmentId}
        </if>
        <if test="state!=null">
            and status_type = #{state}
        </if>
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="getById" resultMap="cartMap" parameterType="java.lang.Long">
        select ci.cart_id, ci.department_id, ci.add_time, ci.status_type, di.department_name
        from carts_inf ci
        left join department_inf di on ci.department_id = di.department_id
        where ci.is_enable = 1
        <if test="id!=null">
            and cart_id = #{id}
        </if>
    </select>
    
    <select id="getCountByLimit" resultType="java.lang.Long" parameterType="cartVo">
        select count(cart_id)
        from carts_inf
        where is_enable = 1
        <if test="state!=null">
            and status_type = #{state}
        </if>
    </select>

    <insert id="addCart" parameterType="Cart">
        insert into carts_inf(
                              <if test="departmentId!=null">department_id</if>
                              <if test="addTime!=null">, add_time</if>
                              <if test="state!=null">, status_type</if>
                            )
        values(
               <if test="departmentId!=null">#{departmentId}</if>
               <if test="addTime!=null">, #{addTime}</if>
               <if test="state!=null">, #{state}</if>
               )
    </insert>

<!--    <delete id="removeById" parameterType="java.lang.Long">-->
<!--        delete from carts_inf where cart_id = #{id};-->
<!--    </delete>-->

    <update id="removeById" parameterType="java.lang.Long">
        update carts_inf
        set is_enable=0
        where cart_id = #{id};
    </update>

    <update id="modifyCart" parameterType="Cart">
        update carts_inf
        <set>
            <if test="departmentId!=null">department_id = #{departmentId},</if>
            <if test="addTime!=null">add_time = #{addTime},</if>
            <if test="state!=null">status_type = #{state},</if>
        </set>
        where cart_id = #{id} and isEnable=1;
    </update>
</mapper>