<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daniel.cart.mapper.CartMapper">
    <resultMap id="cartMap" type="com.daniel.cart.domain.Cart">
        <id column="cart_id" property="id"/>
        <result column="department_id" property="departmentId"/>
        <result column="add_time" property="addTime"/>
        <result column="status_type" property="state"/>
        <result column="department_name" property="departmentName"/>
    </resultMap>
    
    <resultMap id="cartBlock" type="com.daniel.cart.domain.res.CartBlockRes">
        <id column="cart_id" property="id"/>
        <result column="department_id" property="departmentId"/>
        <result column="add_time" property="addTime"/>
        <result column="status_type" property="state"/>
        <result column="department_name" property="departmentName"/>
        <collection property="blockList" ofType="block">
            <id column="block_id" property="id"/>
            <result column="grid_id" property="gridId"/>
            <result column="drug_id" property="drugId"/>
            <result column="drug_inf_id" property="drugInfId"/>
            <result column="drug_name" property="drugName"/>
            <result column="serial" property="serial"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="cartMap">
        select ci.cart_id, ci.department_id, ci.add_time, ci.status_type, di.department_name
        from drug_cart_db.carts_inf ci
        left join drug_cart_db.department_inf di on ci.department_id = di.department_id
        where ci.is_enable = 1;
    </select>

    <select id="findAllByLimit" resultMap="cartMap" parameterType="cartVo">
        select ci.`cart_id`, ci.`department_id`, ci.`add_time`, ci.`status_type`, di.`department_name`
        from drug_cart_db.carts_inf ci
        left join drug_cart_db.department_inf di on ci.`department_id` = di.`department_id`
        where ci.`is_enable` = true
        <if test="departmentName!=null">
            and di.`department_name` like #{departmentName}
        </if>
        <if test="departmentId!=null">
            and di.`department_id` = #{departmentId}
        </if>
        <if test="state!=null">
            and ci.`status_type` = #{state}
        </if>
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>
    
    <select id="findVacant" resultMap="cartMap">
        select ci.cart_id, ci.department_id, ci.add_time, ci.status_type, di.department_name
        from drug_cart_db.carts_inf ci
                 inner join drug_cart_db.grid_inf gi on ci.cart_id = gi.cart_id
                 left join drug_cart_db.department_inf di on ci.department_id = di.department_id
        where gi.is_full = false
        group by gi.cart_id;
    </select>

    <select id="findNotVacant" resultMap="cartMap">
        select ci.cart_id, ci.department_id, ci.add_time, ci.status_type, di.department_name
        from drug_cart_db.carts_inf ci
                 inner join drug_cart_db.grid_inf gi on ci.cart_id = gi.cart_id
                 left join drug_cart_db.department_inf di on ci.department_id = di.department_id
        where gi.is_full = true
        group by gi.cart_id;
    </select>

    <select id="getById" resultMap="cartMap" parameterType="java.lang.Long">
        select ci.cart_id, ci.department_id, ci.add_time, ci.status_type, di.department_name
        from drug_cart_db.carts_inf ci
        left join drug_cart_db.department_inf di on ci.department_id = di.department_id
        where ci.is_enable = 1
        <if test="id!=null">
            and cart_id = #{id}
        </if>
    </select>
    
    <select id="getCountByLimit" resultType="java.lang.Long" parameterType="cartVo">
        select count(ci.cart_id)
        from drug_cart_db.carts_inf ci
        left join drug_cart_db.department_inf di on ci.department_id = di.department_id
        where ci.is_enable = true
        <if test="departmentName!=null">
            and di.department_name like #{departmentName}
        </if>
        <if test="state!=null">
            and ci.status_type = #{state}
        </if>
        <if test="departmentId!=null">
            and ci.department_id = #{departmentId}
        </if>
    </select>

    <insert id="addCart" parameterType="Cart">
        insert into drug_cart_db.carts_inf(
                              <if test="departmentId!=null">department_id</if>
                            )
        values(
               <if test="departmentId!=null">#{departmentId}</if>
               )
    </insert>

<!--    <delete id="removeById" parameterType="java.lang.Long">-->
<!--        delete from carts_inf where cart_id = #{id};-->
<!--    </delete>-->

    <update id="removeById" parameterType="java.lang.Long">
        update drug_cart_db.carts_inf
        set is_enable=0
        where cart_id = #{id};
    </update>

    <update id="modifyCart" parameterType="Cart">
        update drug_cart_db.carts_inf
        <set>
            <if test="departmentId!=null">department_id = #{departmentId},</if>
            <if test="state!=null">status_type = #{state},</if>
        </set>
        where cart_id = #{id} and is_enable=1;
    </update>
    
    <select id="findCartWithBlock" resultMap="cartBlock">
        select ci.cart_id, ci.department_id, ci.add_time, ci.status_type, di.department_name, bi.grid_id, bi.block_id, bi.drug_id, bi.serial, gi.drug_inf_id
        from drug_cart_db.carts_inf ci
                 inner join drug_cart_db.grid_inf gi on ci.cart_id = gi.cart_id
                 left join drug_cart_db.department_inf di on ci.department_id = di.department_id
                inner join drug_cart_db.block_inf bi on gi.grid_id = bi.grid_id
    </select>
</mapper>