<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daniel.cart.mapper.DepartmentMapper">
    <resultMap id="departmentMap" type="com.daniel.cart.domain.Department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="name"/>
<!--        <result column="is_enable" property="isValid"/>-->
    </resultMap>

    <select id="findAll" resultMap="departmentMap">
        select * from drug_cart_db.department_inf
    </select>
    
    <select id="findByLimit" resultMap="departmentMap" parameterType="departmentVo">
        select department_id, department_name, is_enable
        from drug_cart_db.department_inf
        where is_enable = true
        <if test="departmentName!=null">
            and department_name like #{name}
        </if>
        <if test="start!=null and pageSize!=null">
            limit #{start - 1},#{pageSize}
        </if>
    </select>
    
    <select id="getCountByLimit" parameterType="departmentVo" resultType="long">
        select count(department_id)
        from drug_cart_db.department_inf
        where is_enable = true
        <if test="departmentName!=null">
            and department_name like #{departmentName}
        </if>
    </select>
    
    <select id="findById" resultMap="departmentMap" parameterType="java.lang.Long">
        select department_id, department_name, is_enable
        from drug_cart_db.department_inf
        where 1 = 1
        <if test="departmentId!=null">
            and department_id = #{id}
        </if>
    </select>
    
    <insert id="add" parameterType="department">
        insert into drug_cart_db.department_inf(
                                                department_name
        ) values (
                  #{name}
                         )
    </insert>
    
    <update id="remove" parameterType="long">
        update drug_cart_db.department_inf
        <set>
            is_enable = false
        </set>
        where drug_inf_id = #{id}
    </update>
    
    <update id="modify" parameterType="department">
        update drug_cart_db.department_inf
        <set>
            <if test="name!=null">department_name=#{name}</if>
        </set>
    </update>

</mapper>